/* this is a tag */
body {
  background-color:white;
  margin:40px;
}

.headline {
  margin: 20px;
  margin-left: 0px;
}

.btn-outline-success {
  color: black;
  border-color: black;
}

.filter {
  display: none;
}

.card {
  border: none;
  width: 300px;
  height: 200px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.card-title {
  text-transform:capitalize;
  position: absolute;
  display: inline-block;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card-text {
  text-transform:capitalize;
  position: absolute;
  display: inline-block;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.lc-experience {
  text-align: left;
  float: left;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 16px;
}

.lc-conditions {
  text-align: right;
  float: right;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 55px;
}

.lc-seasonality {
  text-align: right;
  float: right;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 16px;
}

.lc-flight {
  text-align: left;
  float: left;
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.lc-cost {
  text-align: right;
  float: right;
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.expandBelow .tabs ul .li.active {
  border-bottom: 2px solid grey;
  color: black;
  cursor: pointer;
  vertical-align: middle;
}

.ridable-waves {
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.spot-card {
  margin: 20px;
}


/* AIRBNB markers. Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width: 100%;
}

#surf-spot-map {
  height:300px;
  width:500px;
}

#accomm-map {
  height:600px;
  width:90%;
  z-index: 1;
}

#board-rental-map {
  height:600px;
  width:90%;
  z-index: 1;
}

#lesson-map {
  height:600px;
  width:90%;
  z-index: 1;
}

#accomm-map__wrapper {
  display: none;
}

#travel-guide {
  display: none;
}

#lessons__wrapper {
  display: none;
}

#board-rentals__wrapper {
  display: none;
}

#cost__wrapper {
  display: none;
}

#flights__wrapper {
  display: none;
}

#navbar {
  background-color: white;
  color: grey;
}

.navbar a:hover {
  border-bottom: 3px solid red;
}

.navbar a.active {
  border-bottom: 3px solid red;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

#travel-guide a {
  color: inherit;
  text-decoration: underline;
}

#travel-guide a:hover {
  color: inherit;
  font-weight: bold;
}

#cost__wrapper a {
  color: inherit;
  text-decoration: underline;
}

#cost__wrapper a:hover {
  color: inherit;
  font-weight: bold;
}

#spot-directions a:hover {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

.white-link {
  color: white;
}

#accomm-card-list {
  width: 400px;
  height: 600px;
  overflow-y: auto; // Only add scroll to vertical column
  position:relative;
}

#board-rental-card-list {
  width: 400px;
  height: 600px;
  overflow-y: auto; // Only add scroll to vertical column
  position:relative;
}

#lesson-card-list {
  width: 400px;
  height: 600px;
  overflow-y: auto; // Only add scroll to vertical column
  position:relative;
}

.accomm-card {
  border: none;
  width: 400px;
  height: 275px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  position:relative;
}

#accomm-card::after {
  box-shadow: inset 0px 0px 225px 10px rgba(0,0,0,0.9);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.accomm-card-img {
  width:auto;
  height:100%;
  position:relative;
}

.ac-title {
  position:absolute;
  z-index:1;
  white-space:nowrap;
  font-weight:700;
}

.ac-text {
  position:absolute;
  z-index:1;
  font-weight:700;
  font-size: 18px;
}

.ac-top-left {
  text-align: left;
  float: left;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.ac-top-right {
  text-align: right;
  float: right;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.ac-top-middle {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
  width: 400px;

}

.ac-bottom-left {
  text-align: left;
  float: left;
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.ac-bottom-right {
  text-align: right;
  float: right;
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

#hover-overlay {
  display: none;
}

.ac-hover-specs {
  color:white;
  font-size:21px;
  position:absolute;
  z-index:1;
  width:400px;
  height:275px;
}

#ac-hover-button {
  width:400px;
  height:275px;
  display: flex;
  align-items: center;/*Aligns vertically center */
  justify-content: right;/*Aligns horizontally center */
}

.ac-hover-button {
  position:absolute;
  z-index:1;
}

.no-padding p {
  margin: 0px;
  padding-bottom: 0px;
}

.input-group-text {
  background: #ffffff;
}

/*Airport Autocomplete*/
.form-group {
  margin-bottom: 20px;
}

.control-label {
  display: block;
}

.autocomplete-wrapper {
  position: relative;

  input {
    width: 100%;
  }
}

.autocomplete-results {
  position: absolute;
  background: white;
  z-index: 1;
  top: 100%;
  left: 0;
  font-size: 13px;
  border: solid 1px #ddd;
  border-top-width: 0;
  border-bottom-color: #ccc;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.2);
}

.autocomplete-result {
  padding: 12px 15px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.autocomplete-result:last-child {
  border-bottom-width: 0;
}

.autocomplete-location {
  opacity: .8;
  font-size: smaller;
}

$iPlus: 0;
@for $i from 0 through 7 {
  $iPlus: $i + 1;
  .autocomplete-results[data-highlight='#{$i}'] > :nth-child(#{$iPlus}) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px darken(#26C9FF, 10%);
  }
}
/*END Airport Autocomplete*/

.bags {
  display:none;
}

#loadImage {
  display: none;
}

#flightLoadFail {
  display: none;
}

#flights {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  align-items: center;
}

#flights:hover {
  box-shadow: 4px 4px 4px lightgrey;
}
