/* NAV */

#top-logo {
  width:32px;
  height:32px;
  vertical-align:middle;
}

#top-nav {
  font-size: 12px;
  font-weight: bold;
}

#mobile-menu-arrow {
 font-size: 14px;
 color: black;
}

.dropdown-item {
  font-size: 12px;
  color: black;
}

#statement {
  font-size: 14px;
  font-weight: bold;
  color: #D9524E;
}

#breadcrumb {
  text-transform: capitalize;
}

.dropdown-item {
  list-style-type: none;
  padding: 0px;
}

.markers-hidden {
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
  cursor: pointer;
}


/* MAP */
#map {
  width:auto;
  height:575px;
}

#map-wrapper {
  position: relative;
}

#iwPhoto {
  width:225px;
  height:150px
}

.iwSkillIcon {
  height:22px;
  width:22px;
}

.infoWindow {
  /* height:100%; */
  width:275px;
}

#floating-key {
  position: absolute;
  bottom: 10px;
  left: 25px;
  z-index: 5;
  background-color: #fff;
  padding: 2px;
  padding-bottom: 0px;
  padding-top: 5px;
  text-align: left;
  line-height: 1px;
  font-size: 12px;
  font-weight: bold;
  color: #708090;
  border-radius: 2px;
}

@media only screen and (max-width: 600px) {
  #floating-key {
    position: absolute;
    bottom: 5px;
    left: 25px;
    z-index: 5;
    background-color: #fff;
    text-align: left;
    line-height: 1px;
    font-size: 12px;
    font-weight: bold;
    color: #708090;
    border-radius: 2px;
  }
}

#floating-search-toggle {
  position: absolute;
  top: 10px;
  left: 75px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: left;
  line-height: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #708090;
  border-radius: 2px;
  height: 20px;
  width: auto;
}

.city-card {
  height: 225px !important;
  border: none !important;
}

/* SPOT CARD DESKTOP */
.spot-card {
  height: 250px !important;
  width: auto;
  border: none !important;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 1rem;
  color: white;
}

.card-img {
  height: 100% !important;
  width: auto !important;
  object-fit: cover;
}

.card-hover-overlay {
  display: none;
  height: 100%;
}

.mobile-hover-overlay {
  display: none;
  height: 100%;
}

p.card-hover-overlay {
  font-size: 14px;
}

#spot-cards {
  width: auto;
  height: 575px;
  overflow-y: scroll;
}

/* Bottom left text over cards */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text over cards */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text over cards */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text over cards */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text over cards */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align: center;
  font-weight:700;
}

.card-title {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align: center;
  font-weight:700;
  margin: 0px !important;
  white-space: nowrap;
  text-transform: capitalize;
}


.card-title2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}

.card-subtitle2 {
  font-size: 15px;
}

.card-text2 {
  font-size: 13px;
  font-weight: bold;
}

.accomm-card-text {
  font-size: 14px;
  font-weight: bold;
}

.card {
  height: 250px !important;
  width: auto;
  margin-bottom: 1rem;
}

.card-pretitle {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.card-subtitle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align: center;
  font-weight:600;
  text-transform: capitalize;
}

.surf-spot-card-subtitle {
  position: absolute;
  top: 46%;
  left: 47%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align: center;
  font-weight:600;
  text-transform: capitalize;
}

/* buttom centered text over cards */
.bottom-centered {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight:700;
}

/* buttom left text over cards */
.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight:700;
}

/* buttom left text over cards */
.bottom-right {
  position: absolute;
  bottom: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight:700;
}

/* Mobile bottom centered text over cards */
.mobile-bottom-centered {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align: center;
  font-weight:700;
}

.tinted {
  filter: brightness(70%);
}

.tinted-spot-cards {
  filter: brightness(55%);
}

.bright-hover:hover {
  filter: brightness(115%);
}



/* FOOTER */
#footer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  font-size: 12px;
  color: grey;
  margin-bottom: 2rem;
}


/* MODALS */
.modal-title {
  text-transform: uppercase;
  font-weight: bold;
}

.modal-header p {
  font-size: 12px;
  font-weight: 500;
}

.modal-body p {
  font-size: 14px;
}

.modal-footer {
  justify-content: left !important;
}

/* CUSTOM CSS */

.no-button-shadow:focus {
  box-shadow: none;
}

.xs-btn {
  height:26px;
  font-size:11px !important;
}

.toggle-button {
  background-color: #d9534f;
  border-radius: 2px;
  border: none;
  color: white;
  font-weight: bold;
  height:26px;
  font-size:11px;
  padding-top: 2px;
  box-shadow: none;
}

.toggle-button:hover {
  filter: brightness(95%);
}

/* Hides blue shadow around button after click */
.toggle-button:active,
.toggle-button:focus,
.toggle-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Adds the shadow to the button who's cards are showing */
.one {
  box-shadow: 0px 0px 0px 2px rgb(217, 83, 79, .5) !important;
}

.capitalize {
  text-transform:capitalize;
}

.white-link {
  color: white !important;
  text-decoration: none !important;
}

.white-link:hover {
  color: white !important;
  text-decoration: none !important;
}

.border {
  border: solid 2px;
}

.hide {
  display: none;
}

.inherit-link {
  color: inherit;
  text-decoration: none !important;
}

.inherit-link:hover {
  color: inherit;
  text-decoration: none !important;
}

/* SURF SPOT FORM */
#map-surf-spot-form {
  height: 350px;
  width: auto;
}

.fa-chevron-right {
  font-size: 1.5rem;
}

.fa-chevron-left {
  font-size: 1.5rem;
}
